<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#5b8740;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">🥕 Sistema de Administración Clínica Nutricional</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/">🏠 Inicio</a></li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">👩‍⚕️ Nutriólogos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/agregar_nutriologo/">Agregar Nutriólogo</a></li>
              <li><a class="dropdown-item" href="/ver_nutriologos/">Ver Nutriólogos</a></li>
              <li><a class="dropdown-item" href="#">Actualizar Nutriólogo</a></li>
              <li><a class="dropdown-item" href="#">Borrar Nutriólogo</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">👥 Pacientes</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Agregar Paciente</a></li>
              <li><a class="dropdown-item" href="#">Ver Pacientes</a></li>
              <li><a class="dropdown-item" href="#">Actualizar Paciente</a></li>
              <li><a class="dropdown-item" href="#">Borrar Paciente</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">📅 Citas</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Agregar Cita</a></li>
              <li><a class="dropdown-item" href="#">Ver Citas</a></li>
              <li><a class="dropdown-item" href="#">Actualizar Cita</a></li>
              <li><a class="dropdown-item" href="#">Borrar Cita</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>